
.vs/
Spender/Spender.Android/bin/
Spender/Spender.Android/obj/
Spender/Spender.Models/bin/
Spender/Spender.Models/obj/
Spender/Spender.Dal/bin/
Spender/Spender.Dal/obj/
Spender/Spender.Logic/bin/
Spender/Spender.Logic/obj/
Spender/Spender.Core/bin/
Spender/Spender.Core/obj/
Spender/Spender/bin/
Spender/Spender/obj/
Flutter/spender/.DS_Store
Flutter/spender/.atom/
Flutter/spender/.dart_tool/
Flutter/spender/.idea
Flutter/spender/.vscode/
Flutter/spender/.packages
Flutter/spender/.pub/
Flutter/spender/build/
Flutter/spender/ios/.generated/
Flutter/spender/packages
Flutter/spender/.flutter-plugins
Flutter/spender/ios/
