
.vs/
Spender/Spender.Android/bin/
Spender/Spender.Android/obj/
Spender/Spender.Models/bin/
Spender/Spender.Models/obj/
Spender/Spender.Dal/bin/
Spender/Spender.Dal/obj/
Spender/Spender.Logic/bin/
Spender/Spender.Logic/obj/
Spender/Spender.Core/bin/
Spender/Spender.Core/obj/
Spender/Spender/bin/
Spender/Spender/obj/
